<html lang="ru">

<head>
    <% include style %>
</head>

<body>
    <main>
        <div class="container">
            <row>
                <div class="form-inline">
                    <% if (!user) { %>
                    <h3 class="text-left">Пройдите авторизацию<a href="/login"> Вход</a></h3>
                    <% } else { %>
                    <h3>Привет,
                        <%= user.username %>. Профиль пользователя 
                        <a href="/profile">profile</a>.</h3>
                    <% } %>
                </div>
            </row>
            </form>
        </div>
    </main>
</body>

</html>