<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeJS Server</title>
</head>
<body>
    <h1>Hometask4 - express.js</h1>
    <form action="/" method="POST" novalidate>
        <input name="count" type="number" min="1" max="10" value="{{formstate}}">
        <button type="submit">Отправить запрос</button>
    </form>
    {{#if renderit}}
    <ol>
        {{#each features}}
        <li>{{this}}</li>
        {{/each}}
    </ol>
    {{else}}
    <p>Запрос еще не отправлен</p>
    {{/if}}
</body>
</html>