<html lang="ru">

<head>
    <% include style %>
</head>

<body>
    <main>
        <div class="container">
            <row>
                <div class="form-inline">
                    <form class="form-inline" action="/login" method="GET">
                        <% if (!user) { %>
                        <h4 class="text-left">Пройдите авторизацию</h4>
                        <button type="submit" class="btn btn-primary mb-2">Вход</button>
                    </form>
                    <% } else { %>
                    <h4>Привет,
                        <%= user.username %>. </h4>
                    <form class="form-inline" action="/profile" method="GET">
                        <button type="submit" class="btn btn-primary mb-2">Профиль</button>
                    </form>
                    <% } %>
                </div>
            </row>
            </form>
        </div>
    </main>
</body>

</html>